.app {
  text-align: center;
  padding: 20px 0;
}

.app-section {
  margin-top: 40px;
}
.app-section:first-child {
  margin-top: 0;
}

.app-add-form__container {
  border: 2px solid #0a0;
  padding: 20px;
  width: 80%;
  margin: 40px auto 0;
}

h2 {
  position: relative;
  text-align: center;
}
h2 span {
  background: #fff;
  padding: 0 20px;
}
h2::before {
  content: '';
  width: 50%;
  height: 2px;
  background: #f00;
  display: block;
  position: absolute;
  top: 14px;
  left: 50%;
  margin-left: -25%;
  z-index: -1;
}

input {
  border: 0;
  border-bottom: 1px solid #aaa;
  text-align: center;
  font-size: 14px;
  outline: 0;
  width: 90%;
  height: 19px;
}

.input__container {
  padding: 10px;
  display: flex;
  justify-content: center;
}
.input__wrapper {
  width: 200px;
  position: relative;
}
.input__label {
  width: 100px;
  display: inline-block;
  text-align: right;
  padding-right: 10px;
}
.submit-button {
  margin: 20px 20px 0;
}

button {
  border: 1px solid #aaa;
  font-size: 12px;
}

button:hover {
  background: #eee;
  cursor: pointer;
}